.App_inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}

.App_inputs input {
  height: 30px;
  padding-left: 8px;
}

.App_inputs .App_inputs-regalos {
  width: 210px;
}

.App_inputs button {
  height: 36px;
}
